@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
	font-family: Irish Grover; 
}
img{
	max-width: 100%;
}
nav{
	width: 100%;
	list-style: none;
	position: absolute;
}

nav ul{
	margin: 2rem;
	list-style: none;
 	display: flex;

}
nav ul li a{
	margin-right: 2rem;
	font-size: 30px;
	text-decoration: none;
	color: #FFF;

}

nav img.logo{
	width: 385px;
	margin-right: auto;
}


nav ul li {
	text-decoration: none;
	display: flex;
}
nav ul li.dupes{
	margin-right: auto;

}
header{
	width: 100%;
	height: 100vh;
	background: #FE72C1;
	background-image: url(../image/background.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

header h1{
	margin-top: 0;
	font-size: 65px;
	line-height: 5px;
}


}
header p{
	scroll-margin-left: 0;
	font-size: 65px;
	line-height: 26px;
}
.btn{
	background: #FF37A6;
	padding: 15px 30px;
	color: FFF;

}

footer{
	gap: 20px;
	color: #FFF;
}
section{

	display: flex;
	width: 100%;
	gap:	40px;
	font-size: 30px;
	
}
section a{
	width: auto;
	background: #B29895;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

nav ul li a{
	color: #fff;
}
section.hype{
	background: #FF37A6;
	color: #fff;
	text-align: center;
	gap:	40px;
}